# Using external Ollama
LLM_BASE_URL=http://192.168.1.120:11434
LLM_API_KEY=""
LLM_MODEL=ollama_chat/gemma4:31b-cloud
MEM0_LLM_PROVIDER=ollama
MEM0_LLM_MODEL=gemma4:31b-cloud
MEM0_EMBEDDER_PROVIDER=ollama
MEM0_EMBEDDER_MODEL=nomic-embed-text:latest
MEM0_EMBEDDER_DIMENSIONS=768

# Using ollama docker container
LLM_BASE_URL=http://ollama:11434
LLM_API_KEY=""
LLM_MODEL=ollama_chat/gemma4:31b
MEM0_LLM_PROVIDER=ollama
MEM0_LLM_MODEL=gemma4:31b
MEM0_EMBEDDER_PROVIDER=ollama
MEM0_EMBEDDER_MODEL=nomic-embed-text:latest
MEM0_EMBEDDER_DIMENSIONS=768

# Using Openrouter
LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_API_KEY=""
LLM_MODEL=openrouter/google/gemma-4-31b-it:free
MEM0_LLM_PROVIDER=openai
MEM0_LLM_MODEL=google/gemma-4-31b-it:free
MEM0_EMBEDDER_PROVIDER=openai
MEM0_EMBEDDER_MODEL=nvidia/llama-nemotron-embed-vl-1b-v2:free
MEM0_EMBEDDER_DIMENSIONS=2048